#map{
    height: 100vh;  
}

#mapcontainer{
    width: 50%; 
	position:fixed;
	transform: none;
	left:50%;
	top:0px;
	overflow:hidden;
}

.searchcontainer{
	background-color:white;
	position:fixed;
	margin:0;
	top:0px;
	left:0px;
	width: 50%;
	height:70px;
	
	box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
    -o-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
}

.cardcontainer{
	background-image: url("assets/img/cardtile.png");
	border-radius:40px;
	width: 43%;
	height:120px;
	padding-left:25px;
	margin: 20px 0px 20px 15px;
	
	box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
    -o-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
    transition: 0.2s;
}

.cardcontainer:hover{
	box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
    -o-box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
	cursor: pointer;
}

.card{
	width:100%;
	height:100%;
	border-radius:40px;
	
    background-repeat: no-repeat;
	background-size: 40% 140%;
	background-position: 105% 0%;
}

#first{
	margin-top:90px;
}

.card1{
	background-image: url("assets/img/clinic1.jpg");
}

.card2{
	background-image: url("assets/img/clinic2.jpg");
}

.card3{
	background-image: url("assets/img/clinic3.jpg");
}

.card4{
	background-image: url("assets/img/clinic4.jpg");
}

.card5{
	background-image: url("assets/img/clinic5.jpg");
}

.card6{
	background-image: url("assets/img/clinic6.jpg");
}
.card7{
	background-image: url("assets/img/clinic7.jpg");
}

#uni{
	display:inline;
	width:30px;
	height:30px;
	border-radius:100%;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
    -o-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
	margin-left:10px;
	vertical-align:middle;
}

.small{
	font-size: 15px;
}

.content{
	margin-top:5px;
	width:60%;
	font-family: 'Forum', cursive;
}

th{
	padding-left:5px;
	text-align:left;
	font-weight: normal;
}

.info{
	max-width:0px;
}

.location{
	background-image: url("assets/img/location.png");
    background-repeat: no-repeat;
	background-size: 20px 20px;
	width:20px;
	height:20px;
}

.phone{
	background-image: url("assets/img/phone.png");
    background-repeat: no-repeat;
	background-size: 20px 20px;
	width:20px;
}

.hours{
	background-image: url("assets/img/hours.png");
    background-repeat: no-repeat;
	background-size: 20px 20px;
	height:20px;
}

.email{
	background-image: url("assets/img/email.png");
    background-repeat: no-repeat;
	background-size: 20px 20px;
}

h1{
	padding-top:10px;
	margin-bottom:0;
	font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
}

.searchbox{
	position:absolute;
    top:0; 
	bottom:0;
    margin: auto 25px ;
	width: 45%;
	height:50px;
	padding: 12px 10px;
	border:1px solid gray;
	font-size: 18px;
	border-radius: 50px;
	font-family: 'Forum', cursive;
}

.searchbox::placeholder {
    color: #d3d2d8;
}

.searchbutton{
	background-color:white;
	position:absolute;
    top:0; 
	bottom:0;
    margin: auto;
	margin-left:calc(50% + 10px);
	width: 50px;
	height:50px;
	padding: 12px 10px;
	border:1px solid gray;
	border-radius: 50px;
	cursor: pointer;
	transition:.5s;
}

.searchbutton:hover{
	background-color:#E9E9E9;
}

img{
	width:25px;
	height:25px;
}

.search_title {
	display:inline-block;
	font-weight: 900;
	color:white;
}