/*Please comment your code!*/
/*Especially important so people who don't 
have too much experience understand :)*/

body{
	/*Default values for every element of the page*/
	/*To be overwritten with container and element classes*/
    background-color:white;
	font-family: 'Lucida Sans Unicode';
	font-size:15px;
	
	/*This is necessary for the section heights to work correctly*/
	height: 100%;
	
	/*By default, there's some page margin we don't want*/
	margin: 0;
	
	/*Before the page is done loading, we don't want the user to be able to scroll*/
	/*Change: Guy*/
	overflow: hidden;
}

/*Guy Changes*/
/*Comments here coming soon!*/
#loadbg {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   background-color: #fff;
   z-index: 1;
}

/*Comments here coming soon!*/
#spinbox {
	background-image: linear-gradient(#70B8FF, #5286ba);
	border-radius:50%;
	width:200px;
	height:200px;
	position:absolute;
	top:50%;
	margin-top:-100px;
	left:50%;
	margin-left:-100px;
    z-index: 2;
	
	opacity:1;
}

/*Comments here coming soon!*/
#spinner{
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-45px;
  margin-left:-45px;
  max-height:90px;
}

a, p{
	/*To remove alignment errors, paragraphs have no margin
	by default. This can be adjusted*/
	margin:0;
	
	font-family: 'Forum', cursive;
	color:white;
}

a{
	text-decoration:none;
}

a:hover{
	color:#385C80;
}

h1{
	margin:0;
	font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
}/*End of Changes*/


section{
	/*Ensures every section is the height of the window*/
	height: 100vh;
	margin:0;
	
	/*Default text attributes if you're inside a section*/
	/*Normally, no text should be outside a section but we never know*/
	color:white;
	font-size:25px;
}

/*--------------------------------------------------- HOME ----------------------------*/

section#home{
	/*Sets up the background image up top*/
	background-image: url("assets/img/tempbg.png");
	background-repeat:no-repeat;
	background-size:cover;
}

/*Every class specific to section home go under here*/
/*Put non-specific classes above "section{}"*/
#title{
	font-size:100px;
	font-weight: bold;
	/*text-shadow: 0px 2px 25px #000000;*/

	/*Aligns the title.*/
	/*This section is a WIP*/
	position:absolute;
	top:13.5%;
	left:51%;
	transform: translateX(-50%);
	
	/*Opacity gets animated*/
	opacity:0;
}

/*Old class, to be deleted*/
.title{
	font-size:100px;
	font-weight: bold;
	margin-bottom:-20px;
}

/*Old class, to be deleted*/
.subtitle{
	font-size:25px;
	font-style: italic;
}

/*Guy Changes*/  
.button{
	font-family: 'Comfortaa';
	text-align:center;
	border-radius:50px;
	background-color:#5A93CC;
	max-width:500px;
	
	padding: 10px 50px;
}

#titlebutton{
	font-size:40px;
	
	/*This section is a WIP*/
	position:absolute;
	top:60%;
	left:51.5%;
	transform: translateX(-50%);
	
	box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
    -o-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
	border-radius:50px;
}
/*End of Changes*/

/*--------------------------------------------------- INSTRUCTIONS ----------------------------*/

section#instructions{
	background-color: #385C80;
	
    /*Dharitri's New Code*/
	background-image: url("assets/img/bubbles.png");
	background-repeat:no-repeat;
	background-size:cover;
	/*End of Change*/
}

/*--------------------------------------------------- SEARCH ----------------------------*/

section#search{
	background-image:url("assets/img/Search.jpg");
	background-repeat: no-repeat;
	background-size:cover;
}

/*Robert's New Code*/

.mapouter{
	position: relative;
	text-align:right;
	left:850px;
	top:20px;
	height:600px;
	width:600px;
}

.gmap_canvas {
	overflow:hidden;
	background:none!important;
	height:600px;
	width:600px;
	border-radius: 40px;
}


#search h1{
	left:30%;
	top:30%;
	transform: translate(-30%,-30%);
}

.searchbox 	{
	position: relative;
	left:10%;
	top:10%;
	transform: translate(-10%,-10%);
	place-content: white;
	width: 20%;
	padding: 12px 24px;
	border-color:rgb(12, 12, 192);
	border:1px solid;
	background-color: transparent;
	-webkit-transition: width 250ms;
	transition: width 250ms;
	font-size: 18px;
	line-height: 18px;	
	color: #000000;
	background-color: transparent;
/*Search icon taken from mihaeltomic*/
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	border-radius: 50px;
	transition: all  width 250ms;
	backface-visibility: hidden;
	transform-style: preserve-3d;

}
.searchbox::placeholder {
            color: #d3d2d8;
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }
        
.searchbox:hover,.searchbox:after{
			
	padding: 12px 10px;
    outline: 0;
    border-radius: 50px;
	background-position: 95% center;
	width:30%;
	
}
.searchbox:focus {
	padding: 12px 10px;
	outline: 0;
	border-radius: 50px;
	background-position: 95% center;
	width:30%;       
		}
.search_title {
	display:inline-block;
	font-weight: 900;
	color:white;
}
input[type=text]{
	position:relative;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
  }
 
  /* Set a style for all buttons */
  .register{
  background-color:blue;
  }
  button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
  }
  .registration{
	  position:relative;
	  left:200px;
	  transition-duration: 0.3s;
	  transition:0.3 ease-in-out;
  }
  
  button:hover {
	opacity: 0.8;
	transition: box-shadow 0.2s east ease-in-out;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
  }
  
  .container {
	padding: 16px;
  }
  
  span.psw {
	float: right;
	padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 3; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: red;
	cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
  }
	
  @keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
	span.psw {
	   display: block;
	   float: none;
	}
	.cancelbtn {
	   width: 100%;
	}
  }


/*End of Change*/

/*--------------------------------------------------- CONTACT ----------------------------*/

section#contact{
	background-color: #5286BA;
}

/*Parva Changes*/
.aboutUsPara{
	margin-top:500px;
	margin-left:1000px;
}

.whyUs{
	margin-top:-200px;
	margin-right:1000px;
	margin-left: 100px;
	border-style: outset;
  	border-color: #5E6F80;
	background-color:#385C80;
} /*End of changes*/

/*--------------------------------------------------- PRICING ----------------------------*/

/*Amin's New Code*/
section#pricing{
	background-color: #5A93CC;
}
/*End of Change*/

/*--------------------------------------------------- FOOTER ----------------------------*/

footer{
	background-color: #5E6F80;
	height:7vh;
	color:white;
	text-align: center;
}
