/*Please comment your code!*/
/*Especially important so people who don't 
have too much experience understand :)*/

html {
  scroll-behavior: smooth;
}

body{
	/*Default values for every element of the page*/
	/*To be overwritten with container and element classes*/
    background-color:white;
	font-family: 'Lucida Sans Unicode';
	font-size:15px;
	
	/*This is necessary for the section heights to work correctly*/
	min-width:1250px;
	height: 100%;
	
	/*By default, there's some page margin we don't want*/
	margin: 0;
	
	/*Before the page is done loading, we don't want the user to be able to scroll*/
	overflow-x: hidden; 
	overflow-y: hidden; 
	
	scroll-behavior: smooth;
}

#loadbg {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   background-color: #fff;
   z-index: 1;
}

#spinbox {
	background-image: linear-gradient(rgba(112,184,255,1), rgba(82,134,186,1));
	border-radius:50%;
	width:200px;
	height:200px;
	position:absolute;
	top:50%;
	margin-top:-100px;
	left:50%;
	margin-left:-100px;
    z-index: 2;
	
	opacity:1;
}

#spinner{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-45px;
	margin-left:-45px;
	max-height:90px;
}

a, p{
	/*To remove alignment errors, paragraphs have no margin
	by default. This can be adjusted*/
	margin:0;
	
	font-family: 'Forum', cursive;
	color:white;
}

a{
	text-decoration:none;
}

a:hover{
	color:#385C80;
}

h1{
	margin:0;
	font-family: 'Arial Black', 'Archivo Black', 'Arial Bold', Gadget, sans-serif;
	text-shadow: 0px 0px 5px black;
	text-align: center;
}

.h1 .title_shadow{
	font-size:60px;
}

section{
	/*Ensures every section is the height of the window*/
	height: 100vh;
	margin:0;
	
	/*Default text attributes if you're inside a section*/
	/*Normally, no text should be outside a section but we never know*/
	color:white;
	font-size:25px;
	
	min-height:900px;
}

iframe{
	position:relative;
	display:block;
	border: 4px solid black;
	border-radius:25px;
	width:85%;
	height:70vh;
	margin: auto;
	bottom:5%;
	min-width: 1265px;
	min-height: 656px;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
    -o-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
}

/*About pages changed the infobox size to refit */
.infobox{
	border-radius: 25px;
	padding:14px 24px;
	width:90%;
	background-color:rgba(0,0,0,0.1);
	margin: 0 auto;
	transform: translateY(-15%);
	font-size:20px;
}

.important{
	text-transform: uppercase;
	font-family: 'Arial Black','Archivo Black', 'Arial Bold', Gadget, sans-serif;
	text-shadow: 0px 0px 2px black;
	margin-left:5px;
	margin-right:5px;
}

.navdot{
	position:fixed;
	border: 2px solid white;
	left:100%;
	border-radius:100%;
	z-index:10;
	width:25px;
	height:25px;
    transition: 0.2s;
}

.navdot:hover{
	background-color:white;
}

.navdot.active{
	background-color:white;
}

.black:hover{
	background-color:black !important;
}

.black.active{
	background-color:black !important;
}

#nd1{
	top:36%;
}

#nd2{
	top:42%;
}

#nd3{
	top:48%;
}

#nd4{
	top:54%;
}

#nd5{
	top:60%;
}


/*--------------------------------------------------- HOME ----------------------------*/

section#home{
	/*Sets up the background image up top*/
	background-image: url("assets/img/tempbg.png");
	background-repeat:no-repeat;
	background-size:cover;
}

/*Every class specific to section home go under here*/
/*Put non-specific classes above "section{}"*/
#title{
	font-size:100px;
	font-weight: bold;
	/*text-shadow: 0px 2px 25px #000000;*/

	/*Aligns the title.*/
	/*This section is a WIP*/
	position:absolute;
	top:140px;
	left:51%;
	transform: translateX(-50%);
	
	/*Opacity gets animated*/
	opacity:0;
}

/*Old class, to be deleted*/
.title{
	font-size:100px;
	font-weight: bold;
	margin-bottom:-20px;
}

/*Old class, to be deleted*/
.subtitle{
	font-size:25px;
	font-style: italic;
}
 
.button{
	font-family: 'Comfortaa';
	text-align:center;
	border-radius:50px;
	background-image:linear-gradient(#70B8FF,#568ec4);
	max-width:500px;
	
	padding: 10px 50px;
}

#titlebutton{
	font-size:40px;
	
	/*This section is a WIP*/
	position:absolute;
	top:375px;
	left:50%;
	transform: translateX(-50%);
	
	box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
    -o-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
	border-radius:50px;
}

.media{
	position:absolute;	
	top:470px;
	max-width:200px;
	z-index:2;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
}

/*--------------------------------------------------- INSTRUCTIONS ----------------------------*/

section#instructions{
	background-image: linear-gradient(#5286BA,white);
}

#icontent{
	background-image: url("assets/img/linetest.png");
	background-repeat:no-repeat;
	background-size: 1000px;
	background-position: center; 
	position:relative;
	display:block;
	width:85%;
	height:70vh;
	margin: auto;
	bottom:5%;
	min-width: 1265px;
	min-height: 656px;
}

.ibubble{
	position:relative;
	border-radius:50%;
	background-image:linear-gradient(#70B8FF,#568ec4);
	text-align: center;
	vertical-align: middle;
	
	box-shadow: 0 5px 10px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.7);
	-o-box-shadow: 0 5px 10px rgba(0,0,0,0.7);
}

.ibtext{
	font-family: 'Arial Black', 'Archivo Black', 'Arial Bold', Gadget, sans-serif;
	text-shadow: 0px 0px 5px black;
	font-size:40px;
	padding-top:40%;
}

.ibstext{
	padding-top:25%;
}

.ibstextsp{
	padding-top:15%;
}

#ib1{
	display:inline-block;
	width:250px;
	height:250px;
	top:70px;
	left:calc(50vw - 760px);
}

#ib1 p:after{
  content: 'STEP 1';
}

#ib1:hover p:after {
  content: 'Choose a location';
}

#ib1 span:after{
  content: '';
}

#ib1:hover span:after {
  content: 'Click here!';
}

#ib1custom{
	font-size:20px;
	font-style:italic;
}

#ib2{
	width:200px;
	height:200px;
	top:170px;
	left:calc(50vw - 490px);
}

#ib2 p:after{
  content: 'STEP 2';
}

#ib2:hover p:after {
  content: 'Enter your info';
}

#ib3{
	width:175px;
	height:175px;
	top:-300px;
	left:calc(50vw - 145px);
}

#ib3 p:after{
  content: 'STEP 3';
}

#ib3:hover p:after {
  white-space: pre;
  content: 'Select date\A and time';
}

#ib4{
	width:225px;
	height:225px;
	top:-280px;
	left:calc(50vw + 240px)
}

#ib4 p:after{
  content: 'STEP 4';
}

#ib4:hover p:after {
  content: 'Stay notified about your appointment!';
}

@media only screen and (max-width: 1500px) {
    #ib1{
		left:30px;
	}

	#ib2{
		left:300px;
	}

	#ib3{
		left:640px;
	}

	#ib4{
		left:975px;
	}
}

/*--------------------------------------------------- SEARCH ----------------------------*/

section#search{
	background-image: url("assets/img/white.pnj");
	background-size: cover;
	background-repeat: no-repeat;
}

/*Registration form */
#form-main{
	position:fixed;
	left:70%;
	top:25%;
	opacity:0;
	z-index: -1;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	position:fixed;
	left:110%;
	top:5%;
	transform: translate(-110%,-5%);
	margin-top:30px;
	margin-left: -260px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: 'Arial Black', 'Archivo Black', 'Arial Bold', Gadget, sans-serif;
	font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
	padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#location{
	background-image: url(https://img.icons8.com/ios-filled/50/000000/worldwide-location.png);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#phone{
	background-image: url(https://img.icons8.com/metro/26/000000/phone.png);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
	
#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#date{
	background-image: url(https://img.icons8.com/small/16/000000/planner.png);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
	width: 100%;
	height: 150px;
	line-height: 150%;
	resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	border-radius:40px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	margin-top:-4px;
	font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
	border-radius:40px;
}

.submit:hover {
	color: #3498db;
}

.ease {
	width: 0px;
	height: 74px;
	border-radius: 40px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
	width:100%;
	background-color:white;
}

@media only screen and (max-width: 1000px) {
#form-div{
	left: 3%;
	margin-right: 3%;
	width: 88%;
	margin-left: 0;
	padding-left: 3%;
	padding-right: 3%;
}
}
.form-main .title{
	font-weight:400;
	font-size:13px;
	color:black;

}

.card {
	position:relative;
	width: 5%;
	height:40%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 40%;
  }
  
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
	padding: 2px 16px;
}

/*--------------------------------------------------- CONTACT ----------------------------*/

section#contact{
	background-image: linear-gradient(white,#5286BA);
}

.teampic{
	width:218px;
	height:218px;
	border-radius:100%;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
    transition: .5s;
}
.teampic:hover{
	transform: translateY(-15px);
	box-shadow: 0px 0px 15px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 15px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,1);
    -o-box-shadow: 0px 0px 15px rgba(0,0,0,1);
}

section table{
	width: 85%;
	margin: 0 auto;
} 

/*--------------------------------------------------- PRICING ----------------------------*/

section#pricing{
	background-image: url("assets/img/blue.jpg");
	background-size:cover;
	background-repeat: no-repeat;
}

.gold{
	background-image: linear-gradient(#F0DC55,#CD9316);
	text-shadow: 0px 0px 5px black;
	font-weight: bold;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
    -o-box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
}

/*--------------------------------------------------- FOOTER ----------------------------*/

footer{
	background-color: #5E6F80;
	height:7vh;
	color:white;
	text-align: center;
}

/*--------------------------------------------------- FONTAWESOME ----------------------------*/

.fa {
    padding: 20px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #fff;
	margin: auto 10px;
	text-align: center;
	box-shadow: 0 5px 5px grey;
	opacity:0;
	z-index:3;
}

.fa:hover {
    color: #fff;
    text-decoration: none;
    box-shadow: 0 5px 15px grey
}

.fb {
    background: #3B5998;
}

.li {
    background: #007bb5;
}

.ig {
    background: #125688;
}

