/*Please comment your code!*/
/*Especially important so people who don't 
have too much experience understand :)*/

body{
	/*Default values for every element of the page*/
	/*To be overwritten with container and element classes*/
    background-color:white;
	font-family: 'Lucida Sans Unicode';
	font-size:15px;
	
	/*This is necessary for the section heights to work correctly*/
	height: 100%;
	
	/*By default, there's some page margin we don't want*/
	margin: 0;
	
	/*Before the page is done loading, we don't want the user to be able to scroll*/
	/*Change: Guy*/
	overflow: hidden;
}

/*Guy Changes*/
/*Comments here coming soon!*/
#loadbg {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   background-color: #fff;
   z-index: 1;
}

/*Comments here coming soon!*/
#spinbox {
	background-image: linear-gradient(#70B8FF, #5286ba);
	border-radius:50%;
	width:200px;
	height:200px;
	position:absolute;
	top:50%;
	margin-top:-100px;
	left:50%;
	margin-left:-100px;
    z-index: 2;
	
	opacity:1;
}

/*Comments here coming soon!*/
#spinner{
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-45px;
  margin-left:-45px;
  max-height:90px;
}

a, p{
	/*To remove alignment errors, paragraphs have no margin
	by default. This can be adjusted*/
	margin:0;
	
	font-family: 'Forum', cursive;
	color:white;
}

a{
	text-decoration:none;
}

a:hover{
	color:#385C80;
}

h1{
	margin:0;
	font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
}/*End of Changes*/


section{
	/*Ensures every section is the height of the window*/
	height: 100vh;
	margin:0;
	
	/*Default text attributes if you're inside a section*/
	/*Normally, no text should be outside a section but we never know*/
	color:white;
	font-size:25px;
}

/*--------------------------------------------------- HOME ----------------------------*/

section#home{
	/*Sets up the background image up top*/
	background-image: url("assets/img/tempbg.png");
	background-repeat:no-repeat;
	background-size:cover;
}

/*Every class specific to section home go under here*/
/*Put non-specific classes above "section{}"*/
#title{
	font-size:100px;
	font-weight: bold;
	/*text-shadow: 0px 2px 25px #000000;*/

	/*Aligns the title.*/
	/*This section is a WIP*/
	position:absolute;
	top:13.5%;
	left:51%;
	transform: translateX(-50%);
	
	/*Opacity gets animated*/
	opacity:0;
}

/*Old class, to be deleted*/
.title{
	font-size:100px;
	font-weight: bold;
	margin-bottom:-20px;
}

/*Old class, to be deleted*/
.subtitle{
	font-size:25px;
	font-style: italic;
}

/*Guy Changes*/  
.button{
	font-family: 'Comfortaa';
	text-align:center;
	border-radius:50px;
	background-color:#5A93CC;
	max-width:500px;
	
	padding: 10px 50px;
}

#titlebutton{
	font-size:40px;
	
	/*This section is a WIP*/
	position:absolute;
	top:60%;
	left:51.5%;
	transform: translateX(-50%);
	
	box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
    -o-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
	border-radius:50px;
}
/*End of Changes*/

/*--------------------------------------------------- INSTRUCTIONS ----------------------------*/

section#instructions{
	background-color: #385C80;
	
    /*Dharitri's New Code*/
	background-image: url("assets/img/bubbles.png");
	background-repeat:no-repeat;
	background-size:cover;
	/*End of Change*/
}

/*--------------------------------------------------- SEARCH ----------------------------*/

section#search{
	background-color: #BDDEFF;
}

/*Robert's New Code*/
.g_map{
	position:relative;
	text-align:right;
	height:800px;
	width:600px;
}
.g_map_border{ 	
	overflow:hidden;
	background:none!important;
	height:800px;
	width:600px;
}
/*End of Change*/

/*--------------------------------------------------- CONTACT ----------------------------*/

section#contact{
	background-color: #5286BA;
}

/*Parva Changes*/
.table1{
	width: 100%;
}

.table2{
	position: relative;
	top: 30%;
}

.whyUs{
	border-style: outset;
  	border-color: #5E6F80;
	background-color:#385C80;
} /*End of changes*/

/*--------------------------------------------------- PRICING ----------------------------*/

/*Amin's New Code*/
section#pricing{
	background-color: #5A93CC;
}
/*End of Change*/

/*--------------------------------------------------- FOOTER ----------------------------*/

footer{
	background-color: #5E6F80;
	height:7vh;
	color:white;
	text-align: center;
}
